@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

:root {
  --font-family: 'Anonymous Pro', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3DFF5C 1.84%, #ce2525 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #3DFF5C -13.86%, #ffffff 99.55%);
  
  --color-bg: #1A120B;
  --color-text: #ffffff;
  --color-subtext: rgba(61, 255, 92, 0.50);
}